.loginHeader {
    text-align: center;
    background-color: #fcfcfc;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    border-bottom: 1px solid #f63;
}

.loginHeader__back {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
}

.loginHeader__back::before {
    width: 12px;
    height: 12px;
    display: inline-block;
    content: "";
    position: absolute;
    border-top: 2px solid #f63;
    border-left: 2px solid #f63;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    top: 50%;
    left: 15px;
}

.loginHeader__title {
    line-height: 45px;
    width: 100%;
    height: 45px;
    font-size: 18px;
}